*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.spin{
    position: relative;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.spin::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(assets/imgs/arrow.png) no-repeat;
    background-size: 5%;
    left: 95%;
    top: 48%;
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
    border: 10px solid whitesmoke;
    overflow: hidden;
    border-radius: 50%;
    transition: all ease-in-out 5s;
    transform: rotate(90deg);
}
span{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}
.span1{
    clip-path: polygon(0 17%, 0 50%, 50% 50%);
    background-color: green;
}
.span2{
    clip-path: polygon(0 17%, 30% 0, 50% 50%);
    background-color: red;
}
.span3{
    clip-path: polygon(30% 0, 71% 0, 50% 50%);
    background-color: blue;
}
.span4{
    clip-path: polygon(71% 0, 100% 18%, 50% 50%);
    background-color: salmon;
}
.span5{
    clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
    background-color: orange;
}
.box2 .span1{
    background-color: #333;
}
.box2 .span3{
    background-color: lime;
}
.box2{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

/* font */
.font{
    color: #fff;
    font-size: 20px;
}
.box1 .span1 h5{
    position: absolute;
    top: 38%;
    right: 85%;
    transform: rotate(200deg);
    text-align: center;
}
.box1 .span2 h5{
    position: absolute;
    top: 20%;
    left: 19%;
    right: 67%;
    transform: rotate(-130deg);
    text-align: center;
}
.box1 .span3 h5{
    position: absolute;
    top: 12%;
    left: 50%;
    right: 88%;
    transform: rotate(-90deg);
    text-align: center;
}
.box1 .span4 h5{
    position: absolute;
    top: 17%;
    right: 20%;
    transform: rotate(-45deg);
    text-align: center;
}
.box1 .span5 h5{
    position: absolute;
    top: 37%;
    right: 6%;
    transform: rotate(-15deg);
    text-align: center;
}
.box2 .span1 h5{
    position: absolute;
    top: 37%;
    right: 85%;
    transform: rotate(200deg);
    text-align: center;
}
.box2 .span2 h5{
    position: absolute;
    top: 15%;
    right: 74%;
    transform: rotate(-130deg);
    text-align: center;
}
.box2 .span3 h5{
    position: absolute;
    top: 7%;
    right: 48%;
    transform: rotate(270deg);
    text-align: center;
}
.box2 .span4 h5{
    position: absolute;
    top: 14%;
    right: 20%;
    transform: rotate(310deg);
    text-align: center;
}
.box2 .span5 h5{
    position: absolute;
    top: 36%;
    right: 7%;
    transform: rotate(-20deg);
    text-align: center;
}
.bot-choices{
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    z-index: 999;
}
.bot-choices img{
    height: 200px;
    width: 200px;
}
.mainbox.animate::after{
    animation: animationArrow 0.7s ease infinite;
}
@keyframes animationArrow {
    50%{
        right: -50px;
    }
}

/* choices */
.choices{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    border-radius: 16px;
    background-color: red;
}
.choices img{
    width: 140px;
}
.choices button{
    background: none;
    appearance: none;
    border: none;
}